@media screen and (max-width: 374px) {
  .pagination-button {
    padding: 8px 8px;
    gap: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination-buttons {
  display: flex;
  column-gap: 8px;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
}

.pagination-dots {
  display: flex;
  justify-content: center;
}

.pagination-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: transparent;
  margin: 0 10px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  color: var(--primary-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.pagination-dot:hover {
  border: 1px solid var(--accent-color);
}

.active-pagination-dot {
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--primary-color);
  padding: 8px 12px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.pagination-button:hover,
.pagination-button:focus {
  border: 1px solid var(--accent-color);
}

.pagination-button-icon-next {
  fill: var(--accent-color);
  transform: rotate(0deg);
}

.pagination-button-icon-prev {
  fill: var(--accent-color);
  transform: rotate(-180deg);
}

.pagination-button:disabled {
  cursor: not-allowed;
  border: 1px solid rgba(252, 249, 249, 0.1);
  color: rgba(252, 249, 249, 0.1);
}

.pagination-button:disabled:hover {
  cursor: not-allowed;
  border: 1px solid rgba(252, 249, 249, 0.1);
  color: rgba(252, 249, 249, 0.1);
}

.pagination-button:disabled .pagination-button-icon-prev,
.pagination-button:disabled .pagination-button-icon-next {
  fill: rgba(252, 249, 249, 0.1);
}

.pagination-dots {
  display: none;
  height: 59px;
}

@media screen and (min-width: 768px) {
  .pagination-button {
    display: none;
    height: 50px;
  }

  .pagination-buttons {
    column-gap: 40px;
  }

  .pagination-dots {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .pagination-dots {
    display: flex;
  }

  .pagination-buttons {
    column-gap: 18px;
  }

  .pagination-dot {
    width: 40px;
    height: 40px;
  }

  .pagination-button {
    display: flex;
    padding: 20px 24px;
  }
}
